// Logo
.logo img {
    max-width: 100px;
}

// Card
.card {
    padding: 50px 0;
    .card-header {
        font-size: 40px;
        margin-bottom: 40px;
    }
    .card-body {
        font-size: 20px;
        margin-top: 40px;
    }
}

// Product
.myPro {
    padding: 18px;
}

// Media
@media (max-width: 768px) {
    .myPro {
        padding: 40px;
    }
}
